USE [master]
GO
/****** Object:  Database [ContractDB]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE DATABASE [ContractDB] ON  PRIMARY 
( NAME = N'ContractDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ContractDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContractDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ContractDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContractDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContractDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActInvoice]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActInvoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ContractId] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ActInvoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branch]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Branch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Client]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Inn] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](max) NULL,
	[Mfo] [nvarchar](max) NULL,
	[Okohx] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[BankName] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contract]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectName] [nvarchar](max) NULL,
	[ContractNumber] [nvarchar](max) NULL,
	[ContractDate] [datetime2](7) NULL,
	[ContractAmount] [float] NULL,
	[DeadlinesContract] [datetime2](7) NULL,
	[DeadlinesFact] [datetime2](7) NULL,
	[Limitation] [nvarchar](max) NULL,
	[ClientId] [int] NULL,
	[CategoryId] [int] NULL,
	[BranchId] [int] NULL,
	[CategoryCode] [int] NOT NULL,
	[BranchCode] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Contract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContractDepartment]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[DepartmentId] [int] NULL,
	[Date] [datetime2](7) NULL,
	[Code] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.ContractDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContractWorkPayment]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractWorkPayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NULL,
	[WorkTypeId] [int] NULL,
	[Amount] [float] NULL,
	[Code] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.ContractWorkPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nakladnoy]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nakladnoy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](max) NULL,
	[Date] [datetime2](7) NULL,
	[ContractId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Nakladnoy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NULL,
	[Amount] [float] NULL,
	[Description] [nvarchar](max) NULL,
	[ContractId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Realization]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FinishedData] [datetime] NULL,
	[ProductPrice] [float] NULL,
	[ContractId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.Realization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkType]    Script Date: 10/28/2015 4:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModefiedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.WorkType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Code], [Title], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (1, 10, N'Центральное производство', NULL, NULL, NULL)
INSERT [dbo].[Branch] ([Id], [Code], [Title], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (2, 11, N'Джизакский филиал', NULL, NULL, NULL)
INSERT [dbo].[Branch] ([Id], [Code], [Title], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (3, 12, N'Наманганский филиал', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Code], [Note], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (1, 1, N'Договара ц прочими заказчиками', NULL, NULL, NULL)
INSERT [dbo].[Category] ([Id], [Code], [Note], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (2, 2, N'Счет-договора с прочими заказчиками', NULL, NULL, NULL)
INSERT [dbo].[Category] ([Id], [Code], [Note], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (3, 3, N'Договара с ИКСЕЗами хокимятов областей', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (1, N'Col27', N'топография', NULL, NULL, NULL)
INSERT [dbo].[Department] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (2, N'Col28', N'геология', NULL, NULL, NULL)
INSERT [dbo].[Department] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (3, N'Col29', N'геодезия', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[WorkType] ON 

INSERT [dbo].[WorkType] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (1, N'Col13', N'топография, без НДС', NULL, NULL, NULL)
INSERT [dbo].[WorkType] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (2, N'Col14', N'геология, без НДС', NULL, NULL, NULL)
INSERT [dbo].[WorkType] ([Id], [Name], [Description], [CreatedDate], [ModefiedDate], [IsDeleted]) VALUES (3, N'Col15', N'геодезия (в т.ч. перенос в натуру,вынос красных линий и другие), с НДС', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WorkType] OFF
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[ActInvoice]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[Contract]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Contract]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[Contract]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[ContractDepartment]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[ContractDepartment]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[ContractWorkPayment]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkTypeId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkTypeId] ON [dbo].[ContractWorkPayment]
(
	[WorkTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[Nakladnoy]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[Payment]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractId] ON [dbo].[Realization]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActInvoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActInvoice_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[ActInvoice] CHECK CONSTRAINT [FK_dbo.ActInvoice_dbo.Contract_ContractId]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contract_dbo.Branch_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_dbo.Contract_dbo.Branch_BranchId]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contract_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_dbo.Contract_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contract_dbo.Client_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_dbo.Contract_dbo.Client_ClientId]
GO
ALTER TABLE [dbo].[ContractDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractDepartment_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[ContractDepartment] CHECK CONSTRAINT [FK_dbo.ContractDepartment_dbo.Contract_ContractId]
GO
ALTER TABLE [dbo].[ContractDepartment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractDepartment_dbo.Department_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[ContractDepartment] CHECK CONSTRAINT [FK_dbo.ContractDepartment_dbo.Department_DepartmentId]
GO
ALTER TABLE [dbo].[ContractWorkPayment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractWorkPayment_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[ContractWorkPayment] CHECK CONSTRAINT [FK_dbo.ContractWorkPayment_dbo.Contract_ContractId]
GO
ALTER TABLE [dbo].[ContractWorkPayment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractWorkPayment_dbo.WorkType_WorkTypeId] FOREIGN KEY([WorkTypeId])
REFERENCES [dbo].[WorkType] ([Id])
GO
ALTER TABLE [dbo].[ContractWorkPayment] CHECK CONSTRAINT [FK_dbo.ContractWorkPayment_dbo.WorkType_WorkTypeId]
GO
ALTER TABLE [dbo].[Nakladnoy]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Nakladnoy_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[Nakladnoy] CHECK CONSTRAINT [FK_dbo.Nakladnoy_dbo.Contract_ContractId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payment_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_dbo.Payment_dbo.Contract_ContractId]
GO
ALTER TABLE [dbo].[Realization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Realization_dbo.Contract_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contract] ([Id])
GO
ALTER TABLE [dbo].[Realization] CHECK CONSTRAINT [FK_dbo.Realization_dbo.Contract_ContractId]
GO
/****** Object:  Statistic [_WA_Sys_00000002_300424B4]    Script Date: 10/28/2015 4:28:23 PM ******/
CREATE STATISTICS [_WA_Sys_00000002_300424B4] ON [dbo].[__MigrationHistory]([ContextKey]) WITH STATS_STREAM = 0x01000000010000000000000000000000F40989FE00000000AF020000000000006F02000000000000E703FFFFE7000000580200000000000015D000000000000007000000F1190F013FA5000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A8420000803F000000000000A8420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007300000000000000FB0000000000000003010000000000000800000000000000300010000000803F000000000000803F04000001006B0043006F006E00740072006100630074002E0044006100740061002E004D006900670072006100740069006F006E0073002E004D00610069006E0043006F006E00660069006700750072006100740069006F006E00FF01000000000000000100000001000000280000002800000000000000000000002A00000043006F006E00740072006100630074002E0044006100740061002E004D006900670072006100740069006F006E0073002E004D00610069006E0043006F006E00660069006700750072006100740069006F006E00020000004000000000012A000000000100000000000000
GO
/****** Object:  Statistic [PK_dbo.__MigrationHistory]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[__MigrationHistory]([PK_dbo.__MigrationHistory]) WITH STATS_STREAM = 0x01000000020000000000000000000000807C2F150000000058000000000000000000000000000000E7030067E70000002C0100000000000015D00000004D0061E703006EE7000000580200000000000015D0000000610074, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ActInvoice]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000130167B00000000058000000000000000000000000000000380200003800000004000A000000000000000000E7000000380300003800000004000A000000000000000000E7000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.ActInvoice]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ActInvoice]([PK_dbo.ActInvoice]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Branch]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Branch]([PK_dbo.Branch]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 14, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Category]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Category]([PK_dbo.Category]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_dbo.Client]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Client]([PK_dbo.Client]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_BranchId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Contract]([IX_BranchId]) WITH STATS_STREAM = 0x01000000020000000000000000000000209850350000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A000000000000000000E7000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_CategoryId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Contract]([IX_CategoryId]) WITH STATS_STREAM = 0x01000000020000000000000000000000209850350000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A000000000000000000E7000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_ClientId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Contract]([IX_ClientId]) WITH STATS_STREAM = 0x01000000020000000000000000000000209850350000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A000000000000000000E7000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Contract]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Contract]([PK_dbo.Contract]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractDepartment]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_DepartmentId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractDepartment]([IX_DepartmentId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.ContractDepartment]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractDepartment]([PK_dbo.ContractDepartment]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractWorkPayment]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_WorkTypeId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractWorkPayment]([IX_WorkTypeId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.ContractWorkPayment]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[ContractWorkPayment]([PK_dbo.ContractWorkPayment]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Department]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Department]([PK_dbo.Department]) WITH STATS_STREAM = 0x01000000010000000000000000000000A3D3C7DB0000000040000000000000000000000000000000380300003800000004000A00000000000000000038000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Nakladnoy]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Nakladnoy]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Nakladnoy]([PK_dbo.Nakladnoy]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Payment]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Payment]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Payment]([PK_dbo.Payment]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [IX_ContractId]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Realization]([IX_ContractId]) WITH STATS_STREAM = 0x01000000020000000000000000000000A1E1F87E0000000058000000000000000000000000000000380200003800000004000A00000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.Realization]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[Realization]([PK_dbo.Realization]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_dbo.WorkType]    Script Date: 10/28/2015 4:28:23 PM ******/
UPDATE STATISTICS [dbo].[WorkType]([PK_dbo.WorkType]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000, ROWCOUNT = 12, PAGECOUNT = 1
GO
USE [master]
GO
